html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative; 
  font-family: Arial, sans-serif;
  text-align: center;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/img.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  z-index: -1; 
}

.error-message {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #f8d7da;
  color: #721c24;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 18px;
}

.title {
  color: #0e044d;
  position: absolute;
  top: 2px;
  left: 50%;
  transform: translateX(-50%);  
  width: 100%;
}

.weather-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto; 
  position: absolute;
  top: 15%; 
  left: 50%;
  transform: translateX(-50%); 
  width: 100%; 
}

.weather-card {
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease;
  box-sizing: border-box; 
}

.weather-card:hover {
  transform: translateY(-5px);
}

.weather-card h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
}

.weather-card p {
  font-size: 1.1rem;
  color: #555;
  margin: 5px 0;
}

.weather-card p:last-child {
  font-weight: bold;
  color: #444;
}

@media (max-width: 768px) {
  .weather-card {
    width: calc(100% - 20px); 
    max-width: none; 
  }
}

.weather-icon {
  width: 30px; 
  height: auto; 
  display: inline-block;
  vertical-align: middle; 
  margin-left: 10px; 
}
